
@{
	ViewBag.Title = "操作成功";
	Layout = "~/Views/Shared/_Admin_Layout.cshtml";
	Response.Write("<meta http-equiv='refresh' content='3; url=/Admin' />");
}

<h2>操作成功</h2>

<body>
	<form id="form1" runat="server">
		<div id='div1'>
		</div>
	</form>
	<label>@ViewBag.Prize</label>
	<label>@ViewBag.TeachingTime</label>
</body>

<script type="text/javascript">
	var t = 4;
	function showTime() {
		t -= 1;
		document.getElementById('div1').innerHTML = t + " 秒后跳转至主页";
		setTimeout("showTime()", 1000);
	}
	showTime();
</script>